body { background-color:#bfedff;}
h1 { color:#f79977; text-align: center;}
fieldset { background-color: #a9f3ad;}
span { color:blue; font-weight: bold;}
footer { border-radius: 20px; background-color: cyan;}